[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atproto = "*"
requests = "*"
bs4 = "*"
selenium = "*"
playwright = "*"
flask = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.13"
